</section>
<footer>
    <div class="divider"></div>
    <div class="flex margins">
        <div class="registration"> 
            <p>Charitable Registration #10699 0915 RR0001</p>
            <div class="flex accreditation">
                <img src="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2191/logo-imagine-canada.png?v=1567525497000" />
                <p>The Standards Program Trustmark is a mark of Imagine Canada used under licence by Covenant House Toronto.</p>
            </div>
        </div>
        <div class="flexpush contact">
            <img src="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2191/covenant-house-toronto-logo.png?v=1567525496000"/>
            <p><a href="#">20 Gerrad Street East</a></p>
            <p>Toronto, ON M5B 2P3</p>
            <p>1-800-435-7308</p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="copywrite flex margins">
            <p class="mobileonly">Charitable Registration #10699 0915 RR0001</p>
            <p>&copy;2019 Covenant House Toronto</p>
    </div>
</footer>
</div>

</body>
</html>