html{
    font-size: 62.5%;
    height: 100%;
    line-height: 1.15;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: #267CC9;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

h1{
    font-family: OpenSans-ExtraBold, sans-serif;
    font-style: normal;
    font-size: 44px;
    color: #222222;
    letter-spacing: -0.87px;
    line-height: 55px;
}

h2{
    font-family: OpenSans-Bold, sans-serif;
    font-size: 36px;
    color: #222222;
    letter-spacing: -1.38px;
    line-height: 48px;
}

h3,
form label {
    font-family: OpenSans-SemiBold, sans-serif;
    font-size: 18px;
    color: #222222;
    letter-spacing: -0.56px;
    line-height: 19.8px;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.nocenter {
    align-items: normal ;
}

.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flexpush {
    margin-left: auto;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: #565656;
    letter-spacing: -0.56px;
    line-height: 33px;
}

.en__component--row{
    margin: 0 5%;
}

.en__component.en__component--row.en__component--advrow{
    margin: 0;
    flex-wrap: wrap;
}

.en__component.en__component--column.en__component--advcolumn{
    flex: 0 0 100%;
    width: auto;
}

.margins {
    margin: 0 10%;
}

.rightcol{
    margin: 0 10%;
}

.leftcol{
    padding: 0 10%;
}

.no-margins{
    margin:0;
}

.spacer {
    width: 100%;
    height: 39px;
    background-color: #527285;
}

header{
    margin-bottom: 34px; 
}

.divider{
    width: 100%;
    border-bottom: 1px #D8D8D8 solid;
}

.logo img{
    width: 180px;
    margin: 15px 0 6px 0;
}


.tagline{
    font-family: OpenSans-SemiBold, sans-serif;
    font-size: 20px;
    color: #565656;
    letter-spacing: -0.56px;
    line-height: 33px;
    padding: 5px 1px 0 0;
}

.banner{
    width: 100%;
    height: 201px;
    background-color: #000000;
    
}

.banner .en__component--copyblock{
    flex: 0 1 12em;
    margin: 0;
    font-family: OpenSans-Bold,sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: -1.38px;
    line-height: 45px;
    margin-left: 2%;
    padding: 0 1px;
    z-index: 2;
}

.banner .en__component--imageblock{
    width: 280px;
    height: 160px;
    margin: 41px 0 0 auto;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}

.content{
    box-sizing: border-box;
    flex: 0 0 55%;
    margin-bottom: 72px;
}

.content h1{
    margin-top: 100px;
}

.content h2{
    max-width: 20em;
    margin-bottom: 83px;
    position: relative;
    line-height: 48px;
    
}

.content h2:before {
    position: absolute;
    left: 0;
    top: 48px;
    height: 0;
    width: 449px;
    content: '';
    border-top: 4px solid #F9B200;
  }

.content h2:after {
    position: absolute;
    left: 0;
    top: 96px;
    height: 0;
    width: 144px;
    content: '';
    border-top: 4px solid #F9B200;
  }

/*.content h2 span{
    text-decoration: none;
    border-bottom: 4px solid #F9B200;
}*/

.content p {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: #565656;
    letter-spacing: -0.56px;
    line-height: 33px;
    margin-bottom: 65px;
}

.donation {
    box-sizing: border-box;
    flex: 0 0 514px;
    background: #FFFBF1;
    border: 8px solid #F9B200;
    padding-top: 29px;
    height: fit-content;
}

.en__component.en__component--column.en__component--advcolumn.donation{
    flex: 0 0 80%;
}

.donation h1 {
    text-align: center;
    margin: 10px 25px ;
}

.donation h3 {
    text-align: center;
    padding: 2%;
}

section .en__field__element--radio{
    display: flex;
    margin: 0 13px;
}

.en__field__element--radio .en__field__item{
    display: block;
    flex: 1 1 50%;
}

.en__field__element--radio label,
.en__field--withOther .en__field__input--other,
.en__field__element--text .en__field__input--text,
.en__field__input--select,
.en__field__input--splitselect,
.en__field__input--tripleselect{
    box-sizing: border-box;
    height: 50px;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 18px;
    letter-spacing: -0.56px;
    line-height: 49px;
    background-color: #FAFAFA;
    border: 1px solid #267CC9;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
}

.en__field__element--radio label,
.en__field--withOther .en__field__input--other{
    margin: 4px 4%;
    width: 92%;
}

.en__field__element--radio input{
    box-sizing: border-box;
    width: 46%;
    margin: 10px auto;
    height: 50px;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 18px;
    color: #565656;
    letter-spacing: -0.56px;
    line-height: 19.8px;
}

input[ type = "radio" ],
input[ type = "checkbox"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.en__field__element--radio input:checked + label {
    background-color: #267CC9;
    color: #FAFAFA;
}

.en__field__element--radio input:not(:checked) + label:hover {
    border: 2px solid #267CC9;
    line-height: 47px;
}

.en__field--withOther  .en__field__element--radio{
    flex-wrap: wrap;
}

.en__field--withOther  .en__field__element--radio .en__field__item{
    display: block;
    flex: 0 0 50%;
}

.en__field--withOther .en__field__input--other{
    text-align: left;
    padding-left: 15px;
    cursor: text;
}

input[type=checkbox] {
    display: none;
}

.en__field__element--checkbox{
    width: 100%;
}

.en__field__element--checkbox .en__field__item {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0 5%;
}

.en__field--checkbox label{
    position: relative;
    padding-left: 43px;
    font-family: OpenSans-SemiBold, sans-serif;
    font-size: 20px;
    color: #222222;
    letter-spacing: -0.56px;
    line-height: 33px;
}

.en__field__element--checkbox label:before {
    content: '';
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    left: 0px;
    background: #FAFAFA;
    border:1px solid #F36A4C;
}

.en__field__element--checkbox label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 14px;
    height: 5px;
    background: transparent;
    top: 10px;
    left: 7px;
    border: 4px solid #F36A4C;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    cursor: pointer;
}

.en__field__element--checkbox label:hover::after {
    opacity: 0.0;
}

.en__field__element--checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}



.en__field > label{
    width: 140px;
}

.en__field--text,
.en__field--select,
.en__field--splitselect,
.en__field--tripleselect{
    margin: 0 auto;
    width: 90%;
}

.en__field__element--text,
.en__field__element--select,
.en__field__element--splitselect,
.en__field__element--tripleselect{
    width: calc(100% - 145px);
}

.en__field__element--text .en__field__input--text,
.en__field__input--select{
    width: 100%;
    margin: 0;
    text-align: left;
    padding: 0 15px;
}

.en__field__element--select,
.en__field__element--splitselect .en__field__item,
.en__field__element--tripleselect .en__field__item{
    position: relative;
    padding: 0;
}

.en__field__element--select select,
.en__field__element--splitselect select,
.en__field__element--tripleselect select{
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    padding: 0px 15px;
    padding-right: 40px;
    border-radius: unset;
    min-width: unset;
}

.en__field__element--select:before,
.en__field__element--splitselect .en__field__item:before,
.en__field__element--tripleselect .en__field__item:before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: transparent;
    top: 16px;
    right: 16px;
    border: 2px solid #267CC9;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    cursor: pointer;
    pointer-events: none;
}


.en__submit button{
    width: 60%;
    height: 50px;
    margin: 36px 20%;
    margin-bottom: 44px;
    background-color: #F36A4C;
    border: 1px solid #F36A4C;
    text-align: center;
    vertical-align: middle;
    
    
    font-family: OpenSans-Bold, sans-serif;
    font-size: 18px;
    color: #FAFAFA;
}

.en__field__error{
    margin: 0 auto;
    width: fit-content;
    color: #F36A4C;
}

.blue{
    color: #267CC9;
}

footer{
    margin-top: 140px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 1.65;
    list-style: none;
    color: #565656;
    -webkit-appearance: none;
    letter-spacing: -0.56px;
    text-align: center;
}

footer > .flex{
    flex-direction: column-reverse;
}

.registration {
    text-rendering: auto;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

.registration > p{
    display: none;
}

.accreditation{
    flex-direction: column;
}

.accreditation img{
    width: 100px;
    margin: 0;
}

.accreditation p{
    box-sizing: border-box;
    flex: 0 1 80%;
}


.contact{
    flex: 0 0 inital;
    margin: 32px 0;
}

.contact img{
    width: 300px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.contact p {
    margin: 0;
    font-size: 16px;
}

.copywrite p{
    font-size: 15px;
    margin: 25px auto 40px auto;
    text-rendering: auto;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;

}

footer .copywrite.flex{
    flex-direction: row;
}

.copywrite .mobileonly{
    margin-left: 0px; 
}

/*///////////////////////////////////////////DESKTOP SIZE//////////////////////////////////////////////////////////*/
@media only screen and (min-width: 1025px) {

    .en__component--row{
        margin: 0 86px;
    }
    
    .en__component.en__component--column.en__component--advcolumn{
        flex: 1 0 0;
    }

    .en__component.en__component--column.en__component--advcolumn.donation{
        flex: 0 0 514px;
    }
    
    .margins {
        margin: 0 86px;
    }

    .banner .en__component--imageblock{
        margin: 41px 167px 0 auto;
        position: relative;
    }

    .banner .en__component--copyblock{
        flex: 0 1 auto;
        margin-left: 86px;
        min-width: 7em;
    }

    .rightcol{
        margin-right:86px;
        margin-left:87px;
    }
    
    .leftcol{
        margin-left:87px;
        padding: 0;
    }

    .mobileonly{
        display: none;
    }

    .content h2{
        max-width: 19em;
    }

    .en__component.en__component--column.en__component--advcolumn.donation{
        margin-top: 115px;
        flex: 0 0 514px;
    }

    footer{
        text-align: left;
    }

    footer .flex{
        flex-direction: row;
    }

    .contact{
        margin: 32px 0;
        padding: 3px 65px 12px 20px;
    }

    .registration > p{
        display: block;
        padding-left: 100px;
        margin-bottom: 45px;
    }

    .accreditation{
        flex-direction: row;
    }

    .accreditation img {
        width: 85px;
        margin: 0 15px 0 0;
    }

    .copywrite p{
        margin: 25px 0 40px auto;
    }
}

@media only screen and (min-width: 767px) {
    .banner .en__component--imageblock{
        width: 658px;
    }

    .copywrite p {
        margin: 25px 0 40px auto;
    }
}

@media only screen and (max-width: 415px) {

    .margins{
        margin: 0 5%;
    }
    .banner .en__component--imageblock{
        display: none;
    }

    .banner .en__component--copyblock {
        margin-left: 5%;
    }

    .rightcol{
        margin: 0 2%;
    }

    .leftcol{
        padding: 0 5%;
    }

    .en__field > label {
        width: unset;
    }

    .en__field__element--text,
    .en__field__element--select,
    .en__field__element--splitselect,
    .en__field__element--tripleselect{
        width: 100%
    }

    .accreditation p{
        font-size: 14px;
    }

    footer .copywrite.flex {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 35px;
    }

    .copywrite p {
        margin: 5px auto;
    }
}

@media only screen and (max-width: 567px) {
    header a{
        margin: auto;
    }

    .tagline{
        display: none;
    }

    .content h2:before {
        width: 310px;
    }
}

@media only screen and (max-width: 337px) {
    .content h2:before {
        width: 210px;
    }
}
